<div class="main-login">
  <div  class="row marketing">
    <div class="creer-compte">
      <h1 style="margin-top: 110px"><center>Créer un compte</center></h1>
      <form role="form" style="max-with: 100px">
        <div class="form-group">
          <label for="text">Login</label>
          <input type="text" class="form-control" id="login" ng-model="login">
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" id="email" ng-model="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" ng-model="password">
        </div>
        <button type="submit" class="btn btn-default" ng-click="postSignup(login, email, password)">Créer le compte</button>
      </form>
    </div>
  </div>

</div>
